# PROFILE=dev
CONFIG_COMPILER_STACK_CHECK_MODE_STRONG=y
CONFIG_FREERTOS_CHECK_STACKOVERFLOW_CANARY=y
CONFIG_HEAP_POISONING_LIGHT=y
CONFIG_ESP_SYSTEM_PANIC_PRINT_HALT=y
CONFIG_CLOCK_CLI_UNSAFE=y
CONFIG_CLOCK_LOG_MAX_LEVEL_VERBOSE=y
